*{padding:0px;margin:0px;}
body
{
	font-family: "Arial","Trebuchet MS",  "Helvetica", "Verdana", "sans-serif";
    font-size:9pt;background: #d3e1ee url('bg.jpg') top center no-repeat;
}
.bodycolor {}
table{border:0px;border-collapse:collapse;}
b{font-size:10pt;}
.login_div{text-align:center;margin-top:10px;}
input.text{width:100px;border:1px #404040 solid;font-size:9pt;padding:2px 0px 2px 5px;}
input.submit{width:74px;height:21px;color:#36434E;background:url("button.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.submit:hover{background-position:0 -21px;font-size:12px;}
a{color:#000000;}

#languages_block_top p { clear: left }

#languages_block_top {
	width: 80px
}
#languages_block_top ul#first-languages {
	list-style:none;
}
#languages_block_top ul#first-languages li {
	float: left;
	margin-right: 3px
}
#languages_block_top ul#first-languages img {
    border: 0px
}
#languages_block_top ul#first-languages li.selected_language {
	float: left;
	margin-right: 3px
}

