*{margin:0px;padding:0px;}
A:link{color: #000000; TEXT-DECORATION: none;}
A:visited {COLOR: #000000; TEXT-DECORATION: none}
A:active {COLOR: #3333ff; TEXT-DECORATION: none}
A:hover {COLOR: #ff0000; TEXT-DECORATION: none}

.panel{ background: url('..\img\bg2.jpg') 0 -144px;color:#FFFFFF;}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

img{
   border:0px;
   width:16px;
   height:16px;
}

#body{
   padding: 0px 4px 0px 4px;
}

#menu{
   border:1px #3063A8 solid;
   border-top:0px;
   border-bottom:none;
}

.U1 {
   background:  url("..\img\menu_u1_bg.png");
   border-bottom:1px #246191 solid;
}

.L1 a:link, .L1 a:visited{
   background:  url("..\img\menu1_bg.png");
   font-size:9pt;
   display: block;
   text-decoration: none;
   height: 24px;

}

.L1 a:link span, .L1 a:visited span{
  background: url("..\img\ar1.png") no-repeat right;
  height:24px;
  vertical-align:middle;
  padding:7px 0px 0px 5px;
  cursor:pointer;
  width:100%;
  color: #000000;
   
}
.L1 a:hover{
   color: #FFFFFF;
   font-weight:bold;
   background: url("..\img\menu1_bg.png");
   background-position: 0 -24px;
}
/*  一级菜单 active 效果  */
.L1 a:link.active, .L1 a:hover.active, .L1 a:active.active, .L1 a:visited.active{
   background: url("..\img\menu1_bg.png");
   background-position: 0 -24px;
   color: #FFFFFF;
}
.L1 a:link.active span, .L1 a:hover.active span, .L1 a:active.active span, .L1 a:visited.active span{
   color: #FFFFFF;
   font-weight:bold;
   background: url("..\img\arrow_d1.png") no-repeat right;
}

.L21 a:link, .L21 a:visited, .L22 a:link, .L22 a:visited, .L3 a:link, .L3 a:visited{
   color: #000000;
   background:  none;
   height: 24px;
   font-size:9pt;
   display: block;
   text-decoration: none;
   padding-left: 13px;
}

.L21 a:link span, .L21 a:visited span, .L22 a:link span, .L22 a:visited span, .L3 a:link span, .L3 a:visited span{
  vertical-align:middle;
  padding:7px 0px 0px 16px;
  background: url("..\img\ar.png") no-repeat left center;
  cursor:pointer;
  width:100%;
}

.L22 a:link span, .L22 a:visited span, .L3 a:link span, .L3 a:visited span{
  background:none;
}

.L21 a:hover, .L22 a:hover, .L3 a:hover{
   background: url("..\img\menu2_bg.png") no-repeat top left;
   font-weight:bold;
}
.L3 a:link span, .L3 a:visited span{
   padding:7px 0px 0px 26px;
}

/*  二级菜单 active 效果  */
.L21 a:link.active, .L21 a:hover.active, .L21 a:active.active, .L21 a:visited.active{
   background: none;
}
.L21 a:link.active span, .L21 a:hover.active span, .L21 a:active.active span, .L21 a:visited.active span{
   color: #000000;
   font-weight:bold;
   background: url("..\img\arrow_d.png") no-repeat left center;
}

/*  二、三级菜单 active 效果  */
.L22 a:link.active, .L22 a:hover.active, .L22 a:active.active, .L22 a:visited.active,
.L3 a:link.active, .L3 a:hover.active, .L3 a:active.active, .L3 a:visited.active{
   background: url("menu2_bg.png") no-repeat left;
   background-position: 0 -24px;
}
.L22 a:link.active span, .L22 a:hover.active span, .L22 a:active.active span, .L22 a:visited.active span,
.L3 a:link.active span, .L3 a:hover.active span, .L3 a:active.active span, .L3 a:visited.active span{
   color: #FFFFFF;
   font-weight:bold;
   background: none;
}

.Ls a:link, .Ls a:visited, .Ls a:hover, .Ls a:active{
   text-align:right;
   padding-top:4px;
   padding-right:4px;
   height:20px;
   font-size:9pt;
   text-decoration: underline;
   background:none;
}
.setting:link, .setting:visited{
   text-decoration: underline;
   display:block;
}

#bottom{
   display:none;
}
#bottom_left{
}
#bottom_center{
}
#bottom_right{
}