body{background: url('../img/bg.jpg') -200px -83px;background-attachment:fixed;font-size:9pt;}
form{padding:0px;margin:0px;}
a:link{color: #0066cc; text-decoration: none;}
a:visited {color: #0066cc; text-decoration: none}
a:hover {color: #333333; text-decoration: underline}
a:active {color: #333333; text-decoration: underline}

A.A1:link { COLOR: #003366; TEXT-DECORATION: underline;}
A.A1:visited { COLOR: #003366; TEXT-DECORATION: underline}
A.A1:active  { COLOR: #124164; TEXT-DECORATION: underline}
A.A1:hover   { COLOR: #124164; TEXT-DECORATION: underline}

A.orgAdd:link, A.orgAdd:visited{
   color:#207BD6;
   padding-left:12px;
   background:url("..\img\org_select.png") no-repeat;
   background-position:0px 0px;
}
A.orgAdd:hover, A.orgAdd:active{
   color:#207BD6;
   text-decoration: underline;
}

A.orgClear:link, A.orgClear:visited{
   color:#9AA9B8;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px -60px;
   margin-left:5px;
}
A.orgClear:hover, A.orgClear:active{
   color:#207BD6;
   background-position:0px -40px;
   text-decoration: underline;
}

a.addfile {
   display:block;
   float:left;
   position:relative;
   color:#207BD6;
   text-decoration:none;
   padding-left:12px;
   background:url("..\img\org_select.png") no-repeat;
   background-position:0px 7px;
}
a.addfile:hover {
   color:#9AA9B8;
   text-decoration:underline;
   background-position:0px -13px;
}
input.addfile {
   cursor:pointer;
   left:-5px;
   opacity:0;
   filter:alpha(opacity=0);
   position:absolute;
   width:1px;
}
a.selfile:link, a.selfile:visited {
   color:#207BD6;
   text-decoration:none;
}
a.selfile:hover, a.selfile:active {
   color:#9AA9B8;
   text-decoration:underline;
}

a.addimage {
   position:relative;
   color:#207BD6;
   text-decoration:none;
   padding-left:12px;
   background:url("..\img\org_select.png") no-repeat;
   background-position:0px 1px;
}
a.addimage:hover {
   color:#9AA9B8;
   text-decoration:underline;
   background-position:0px -19px;
}
img{border:0px;}
table{border-collapse:collapse;}
.bodycolor {}
.loginbodycolor { BACKGROUND: #6BA2D8}
.topbar {font-size: 9pt;BACKGROUND: #C4D9EF;background-image: url("..\img\topbar.gif")}
.topbar2 {font-size: 9pt;BACKGROUND: #C4D9EF; background-image: url("..\img\menubg.gif")}

.panel{ BACKGROUND: #C4D9EF; COLOR:#654125;}
.timebar{ BACKGROUND: #CEDFF1;}
.menu_tr1{ font-size: 9pt;COLOR:#000000;background-image:url("..\img\topbar.gif");cursor:pointer}
.menu_tr2{ font-size: 9pt;COLOR:#000000;BACKGROUND: #CEDFF1;cursor:pointer}

.small  { font-size: 9pt;}
.small1  { font-size: 9pt;COLOR: #000000;}
.big { font-size: 12pt;}
.big1   { font-size: 12pt;COLOR: #000000;}
.big2   { font-size: 18pt}
.big3   { font-size: 12pt;COLOR: #124164;FONT-WEIGHT: bold;}
.big4   { COLOR: #FF0000;}
.verybig{ font-size: 24pt}

.ArrowButtonL{width:20px;height:16px;background: url('/images/previouspage.gif') center center no-repeat;}
.ArrowButtonR{width:20px;height:16px;background: url('/images/nextpage.gif') center center no-repeat;}
.ArrowButtonLL{width:20px;height:16px;background: url('/images/prevpreviouspage.png') center center no-repeat;}
.ArrowButtonRR{width:20px;height:16px;background: url('/images/nextnextpage.png') center center no-repeat;}

<!--
input.SmallButton, input.ArrowButton {FONT-SIZE: 9pt;height: 20px; text-decoration: none;  border: 1px solid #6E91C7; background: #F4FBE1 url('button_bg.gif');}
input.SmallButton:hover, input.ArrowButton:hover {FONT-SIZE: 9pt;color: #395500; background: #F4FADF url('bg_input_btn_hover.png'); border: 1px solid #80AA00; border-top: 1px solid #99CC00; border-left: 1px solid #99CC00;}

input.BigButton {FONT-SIZE: 12pt; margin: 1px; height: 24px; text-decoration: none;  border: 1px solid #6E91C7; background: #F4FBE1 url('button_bg.gif');}
input.BigButton:hover {FONT-SIZE: 12pt;color: #395500; background: #F4FADF url('..\img\bg_input_btn_hover.png'); border: 1px solid #80AA00; border-top: 1px solid #99CC00; border-left: 1px solid #99CC00;}
-->

input.SmallButtonAHover{width:50px;height:21px;color:#000000;background:url("..\img\btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonA{width:50px;height:21px;color:#36434E;background:url("..\img\btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonA:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonBHover{width:74px;height:21px;color:#000000;background:url("..\img\btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonB{width:74px;height:21px;color:#36434E;background:url("..\img\btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonB:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonCHover{width:105px;height:21px;color:#000000;background:url("..\img\btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonC{width:105px;height:21px;color:#36434E;background:url("..\img\btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonC:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonDHover{width:160px;height:21px;color:#000000;background:url("..\img\btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonD{width:160px;height:21px;color:#36434E;background:url("..\img\btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonD:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonEHover{width:245px;height:21px;color:#000000;background:url("..\img\btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonE{width:245px;height:21px;color:#36434E;background:url("..\img\btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonE:hover{background-position:0 -21px;font-size:12px;}

input.BigButtonAHover{width:60px;height:24px;color:#000000;background:url("..\img\big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonA{width:60px;height:24px;color:#36434E;background:url("..\img\big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonA:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonBHover{width:84px;height:24px;color:#000000;background:url("..\img\big_btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonB{width:84px;height:24px;color:#36434E;background:url("..\img\big_btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonB:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonCHover{width:125px;height:24px;color:#000000;background:url("..\img\big_btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonC{width:125px;height:24px;color:#36434E;background:url("..\img\big_btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonC:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonDHover{width:195px;height:24px;color:#000000;background:url("..\img\big_btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonD{width:195px;height:24px;color:#36434E;background:url("..\img\big_btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonD:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonEHover{width:305px;height:24px;color:#000000;background:url("..\img\big_btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonE{width:305px;height:24px;color:#36434E;background:url("..\img\big_btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonE:hover{background-position:0 -24px;font-size:13px;}

input.BigInput,textarea.BigInput {font-size: 10pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: white url('..\img\bg_input_text.png') top left repeat-x; background-position:0 -1px;}
input.BigInput:hover,textarea.BigInput:hover {font-size: 10pt;border: 1px solid #99CC00; background: white url('..\img\bg_input_text_hover.png') top left repeat-x;}

input.SmallInput,textarea.SmallInput {font-size: 9pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: white url('..\img\bg_input_text.png') top left repeat-x; background-position:0 -1px;}
input.SmallInput:hover,textarea.SmallInput:hover {font-size: 9pt;border: 1px solid #99CC00; background: white url('..\img\bg_input_text_hover.png') top left repeat-x;}

input.BigInputMoney{COLOR:#006; BACKGROUND: #F8F8F8; text-align: RIGHT; border:solid 1px black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}

input.BigStatic,textarea.BigStatic {font-size: 10pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: #E0E0E0;}

input.SmallStatic,textarea.SmallStatic {font-size: 9pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: #E0E0E0;}

select.BigSelect  { COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('..\img\bg_input_text.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.BigSelect:hover  { COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('..\img\bg_input_text_hover.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}

select.SmallSelect{ COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('..\img\bg_input_text.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}
select.SmallSelect:hover{ COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('..\img\bg_input_text_hover.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}

select.BigStatic  { COLOR: #000066; BACKGROUND: #E0E0E0; border:solid 1px black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.SmallStatic{ COLOR: #000066; BACKGROUND: #E0E0E0; border:solid 1px black; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}

.TableControl{ background:url('..\img\table_footer_bg.png');}
.TableHeader { FONT-WEIGHT: bold; FONT-SIZE: 9pt; background:url("list_hd_bg.png"); line-height:21px;}
.TableHeader1 { background-image: url("..\img\button_back.gif");  cursor:pointer; COLOR: #000066;}
.TableHeader2 { background-image: url("..\img\menubg.gif");  cursor:pointer; COLOR: #000066;FONT-WEIGHT: bold;}
.TableContent{ background:url('..\img\table_content_bg.png');}
.TableData   { background:#ffffff;;COLOR:#000000;}
.TableLine1  { background:#f8f8f8;}
.TableLine2  { background:#ffffff;}
.TableRed{background:#FFEBEB;}
.TextColor1  { COLOR: #FF6600;}
.TextColor2  { COLOR: #FF0000;}
.TextColor3  { COLOR: #808080;}
.top{ COLOR: #FF0000;font-weight:bold;}

.percent { height: 12px; border: 1px solid #666666; float: left; padding: 0px;margin-top:3px;}
.percent div {height: 8px;font-size: 0px;margin: 1px;}
.percenttxt {float:left;font-size: 9pt;margin-top:1px;}
.s_on{background:url(/images/topmenubg2.gif);font-size: 9pt;}
.s_of{background:url(/images/topmenubg1.gif);font-size: 9pt;}
.m_on{background:url(/images/topmenubg2.gif);font-size: 9pt;}
.border14-1 {border: solid 1px #2E2E5A;font-size: 14px;}/* 表格外框 */
.border14-2 {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #2E2E5A;border-right-width: 1px;border-right-style: solid;border-right-color: #2E2E5A;font-size: 14px;}/* 表格边框右面 */
.border14-3 {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #98BBD6;font-size: 14px;border-top-style: none;border-right-style: none;border-left-style: none;}/* 表格边框底面 */
.border14-4 {border-right-width: 1px;border-right-style: solid;border-right-color: #98BBD6;font-size: 14px;}/* 表格边框左面 */
.title_text {  font-size: 14px; font-weight: bold; color: #0A5FA2; }
.table_border {  border-color: #98BBD6 #98BBD6 black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.table_bg {  background-attachment: fixed; background-image: url("..\img\bg_header.png"); background-repeat: repeat; background-position: left; border-color: #2E2E5A black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.table_left {  background-attachment: fixed; background-image: url(table_left.gif); background-repeat: no-repeat; background-position: left}

.attach_name:link,.attach_name:hover,.attach_name:active,.attach_name:visited{color:#0d3a73;}
.attach_div{display:none;width:100px;border:#83ACCF 1px solid;position:absolute;padding:0px;z-index:10001;background:#FFFFFF;}
.attach_div a{display:block !important;line-height:20px;padding:3px 0 0 10px;}
.attach_div a:hover{background:#D6E4EF;}

/*  列表型表格样式  */
.TableList{
   border:1px #3063a8 solid;
   line-height:25px;
   font-size:9pt;
   border-collapse:collapse;
}
.TableList td{
}
.TableList .TableHeader td,
.TableList td.TableHeader{
   background:url("..\img\list_hd_bg.png");
   border-right:1px #cddcec solid;
   border-bottom:1px #4487d2 solid;
   font-weight:bold;
   text-align:center;
   color:#FFFFFF;
}
.TableList .TableLine1 td,
.TableList td.TableLine1{
   background:#f8f8f8;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableLine2 td,
.TableList td.TableLine2{
   background:#ffffff;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableData td,
.TableList td.TableData{
   background:#ffffff;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableContent td,
.TableList td.TableContent{
   background:#cbe1f5;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableFooter td,
.TableList .TableControl td,
.TableList td.TableFooter,
.TableList td.TableControl{
   background:url('..\img\table_footer_bg.png');
   border-top:1px #dcdcdc solid;
}
.TableList .TableRed td,
.TableList td.TableRed
{
   background:#FFEBEB;
}
.TableList .TextColor1 td,
.TableList td.TextColor1
{
   COLOR: #FF6600;
}
.TableList .TextColor2 td,
.TableList td.TextColor2
{
   COLOR: #FF0000;
}

/*  block型表格样式  */
.TableBlock{
   border:1px #124164 solid;
   line-height:25px;
   font-size:9pt;
   border-collapse:collapse;
}
.TableBlock td{
   color:#000000;
}
.TableBlock .TableHeader td,
.TableBlock td.TableHeader{
   background:url("..\img\block_hd_bg.png");
   border:1px #124164 solid;
   font-weight:bold;
   padding-left:5px;
   color:#FFFFFF;
}
.TableBlock .TableLine1 td,
.TableBlock td.TableLine1{
   background:#f8f8f8;
   border-top:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableLine2 td,
.TableBlock td.TableLine2{
   background:#ffffff;
   border-top:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableData td,
.TableBlock td.TableData{
   background:#ffffff;
   border-top:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableContent td,
.TableBlock td.TableContent{
   background:#cbe1f5;
   border-top:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableFooter td,
.TableBlock .TableControl td,
.TableBlock td.TableFooter,
.TableBlock td.TableControl{
   background:url('..\img\table_footer_bg.png');
   border:1px #606275 solid;
}
.TableBlock .TableRed td,
.TableBlock td.TableRed
{
   background:#FFEBEB;
}

.Content{
   line-height:normal;
}

.TableControl a{
   color:#0066CC;
   text-decoration: none;
}

.TableBlock .TableRowHover td,
.TableBlock td.TableRowHover
{
   background:#ebf2f9;
}

.TableBlock .TableRowActive td,
.TableBlock td.TableRowActive
{
   background:#d8e5f1;
}
/* 提示框样式 */
.MessageBox{
   height:90px;
   border:1px #83ACCF dotted;
   background:url("..\img\white_bg.png");
   margin-top:15px;
   margin-bottom:15px;
}
.MessageBox td.msg{
   padding:5px 20px 10px 90px;
   font-weight:bold;
}
.MessageBox td.msg h4.title{
   color:#36434E;
   font-size:18pt;
   border-bottom:1px #83ACCF dotted;
   margin-bottom:10px;
}
.MessageBox td.msg div.content{
   color:#EBBF47;
   border:none;
}
.MessageBox td.error{
   background:url("/images/icon64_error.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.info{
   background:url("/images/icon64_info.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.warning{
   background:url("/images/icon64_warning.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.forbidden{
   background:url("/images/icon64_forbidden.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.stop{
   background:url("/images/icon64_stop.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.blank{
   height:40px;
   padding:10px 20px 10px 20px;
   text-align:center;
}

.hightlight{
   text-decoration: underline;
   background: #FFFF00;
   padding-left: 3px;
   padding-right: 3px;
}
.banned{
   color: #FF0000;
}
.mod{
   color: #000000;
}
.filter{
   color: #0000FF;
}
.pageArea{padding:5px;color:#006EFE;width:320px;}
.pageArea img{cursor:pointer;}
.pageArea a{width:30px;height:16px;display:inline-block;}
.pageArea .pageFirst{background: url('/images/firstpage.gif') center center no-repeat;}
.pageArea .pagePrevious{background: url('/images/previouspage.gif') center center no-repeat;}
.pageArea .pageNext{background: url('/images/nextpage.gif') center center no-repeat;}
.pageArea .pageLast{background: url('/images/lastpage.gif') center center no-repeat;}
.pageArea .pageFirstDisable{background: url('/images/firstpage_disable.gif') center center no-repeat;}
.pageArea .pagePreviousDisable{background: url('/images/previouspage_disable.gif') center center no-repeat;}
.pageArea .pageNextDisable{background: url('/images/nextpage_disable.gif') center center no-repeat;}
.pageArea .pageLastDisable{background: url('/images/lastpage_disable.gif') center center no-repeat;}
.pageArea .pageGoto{background: url('/images/green_arrow.gif') center center no-repeat;width:17px;}

.TableHeader a:link,
.TableHeader a:visited {color: #FFFFFF; text-decoration: none}
.TableHeader a:hover,
.TableHeader a:active{color: #FFFFFF; text-decoration: underline}

.ColorTable {
	margin: 0px; background: #F5FBFF; border: #BBBBBB 1px solid;
}
.ColorTable td {
	font-size: 12px; font-weight: bold;border-right: 1px #F5FBFF solid; border-bottom: 1px #F5FBFF solid; padding: 2px;
}
.ColorTable td.Selected {
	cursor: pointer; border: #316AC5 1px solid; background: #DFF1FF;
}
.ColorTable td div {
	cursor: pointer; border: #BBBBBB 1px solid;
}